    @import "common.scss";
    @import "_minix.scss";
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .wrap {
        width: 100%;
        height: 100%;
        @include box_flex;
        @include direction(column);
    }
    
    header {
        width: 100%;
        height: rem(44px);
        @include sizing;
        padding: 0 rem(10px);
        border-bottom: 1px solid #ccc;
        @include align;
        @include box_flex;
        line-height: rem(44px);
        .form {
            width: 100%;
            height: 70%;
            @include align;
            @include box_flex;
            background: #efefef;
            border-radius: rem(10px);
            i {
                font-size: rem(16px);
                margin: 0 rem(10px);
            }
            input {
                flex: 1;
                margin-left: rem(10px);
            }
        }
    }
    
    section {
        width: 100%;
        height: 100%;
        flex: 1;
        @include box_flex;
        @include direction(column);
        overflow: hidden;
        .list {
            width: 100%;
            .banner {
                width: 100%;
                height: rem(150px);
                .two {
                    background: pink;
                }
                .swiper-slide {
                    width: 100%;
                    @include box_flex;
                    flex-wrap: wrap;
                    @include direction(column);
                    dl {
                        width: 20%;
                        @include box_flex;
                        @include align;
                        @include justify;
                        @include direction(column);
                        margin-top: rem(3px);
                        img {
                            width: rem(50px);
                            height: rem(50px);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .box {
            width: 100%;
            dl {
                width: 100%;
                height: rem(100px);
                background: pink;
                @include box_flex;
                @include justify(space-between);
                @include align;
                margin-top: rem(10px);
                dt {
                    width: rem(150px);
                    height: rem(70px);
                    margin: 0 rem(10px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    flex: 1;
                }
            }
        }
    }
    
    footer {
        width: 100%;
        height: rem(50px);
        border-top: 1px solid #ccc;
        @include box_flex;
        dl {
            flex: 1;
            height: rem(50px);
            @include box_flex;
            @include align;
            @include justify;
            @include direction(column);
            dt {
                .ids {
                    font-size: rem(20px);
                }
            }
        }
    }